<div class="count-down-timer " (click)="desplegar()">
  <p class="nombre" (click)="open('autofocus')">{{configTimer.nombre}} </p>
  <div class="wrapper">
    <div class="description1 text-center" *ngIf="configTimer.status==='stop'">
      <p>Hours</p>
      <p>Minutes</p>
      <p>Seconds</p>
    </div>

    <div class="description text-center" *ngIf="configTimer.status!=='stop'">
      <p class="margin-l">Hours</p>
      <p>Minutes</p>
      <p>Seconds</p>
    </div>
    <app-time-picker *ngIf="configTimer.status==='stop'" (salida)="actualizarConfigTimer($event)"></app-time-picker>

    <div class="times text-center" *ngIf="configTimer.status!=='stop'" >
      <p #hours > {{configTimer.hour}}</p>
      <p #minutes>{{configTimer.minutos}}</p>
      <p #seconds class="ml-1">{{configTimer.segundos}}</p>
    </div>
  </div>
  <div [ngClass]="configTimer.classSelected">
    <span (click)="reset()" *ngIf="configTimer.status==='play' || configTimer.status==='pause'">
      <i class="bi bi-arrow-counterclockwise"></i>
    </span>
    <span (click)="pause()" *ngIf="configTimer.status==='play'">
      <i class="bi bi-pause-fill ml"></i>
    </span>
    <span (click)="play()" *ngIf="configTimer.status==='stop'">
      <i class="bi bi-play-fill ml"></i>
    </span>
    <span (click)="resume()" *ngIf="configTimer.status==='pause'">
      <i class="bi bi-play-fill ml"></i>
    </span>
    <span (click)="finalizar()" *ngIf="configTimer.status==='finish'">
      <i class="bi bi-stop-fill ml"></i>
    </span>
    <span (click)="eliminar()" *ngIf="timmerService.contarTemporizadores() != 1 && timmerService.contarTemporizadores() != 0">
      <i class="bi bi-trash3-fill ml"></i>
    </span>

  </div>
</div>