.count-down-timer {
    box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
    text-align: center;
    background-color: #d9a74a;
    max-width: 300px;
    margin: 20px auto;
    color: #000;
    border-radius: 6px;
    padding: 10px;
    font-family: sans-serif;
    width: 300px;
  }

  .relleno{
    height: 23em;
  }
  
  @media screen and (max-width: 430px) {
    .count-down-timer {
      margin: 20px;
    }
  }
  